<br/>
  <% if user_signed_in? %>
    <div>Signed in as... <%= current_user.email %></div>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% elsif %>
    <%= link_to "Sign In", new_user_session_path %> or 
    <%= link_to "Sign Up", new_user_registration_path %> today!
  <% end %>
<div class="jumbotron">
  <h1>Todo List</h1>
  <p>This one self destructs!!!!</p>
<%= render partial: 'checklists/form', locals: { :checklist => Checklist.new } %>
