<div class="ui grid">
<div class="sixteen wide column"><%= @checklist.name %>
<%= @checklist.tasks.count %> Task(s)

<% if user_signed_in? %>
    <%= link_to @checklist, method: :delete do %>
      <i class="trash icon"></i>
    <% end %>
    <%= link_to [:edit, @checklist] do %>
      <i class="edit icon"></i>
    <% end %>
  </div>
<% end %>

<div class="sixteen wide column"><%= render partial: 'checklists/task', locals: { task: Task.new } %></div>
<% @checklist.tasks.each do |task| %>
<div class="sixteen wide column">
    <div class="media">
      <div class="media-body">
        <%= task.name %>
        <% if user_signed_in? %>
         <%= link_to checklist_task_complete_path(@checklist.id, task.id) do %>
            <i class="check circle icon"></i>
          <% end %>
           <%= link_to [@checklist, task], method: :delete do %>
            <i class="trash icon"></i>
          <% end %>
          <%= link_to [:edit, @checklist, task] do %>
            <i class="edit icon"></i>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <% end %>
<div class="sixteen wide column">
<div class="ui button">
<%= link_to 'View All Checklists', checklists_path %>
</div>
</div>
</div>
</div>