<!DOCTYPE html>
<html>
<head>
  <title>List</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
  <div class="ui success message">
    <%= flash[:notice] %>
  </div>
  <%end%>
   <p class="alert"><%= flash[:alert] %></p>
   <% if flash[:error] %>
   <div class="ui negative message">
      <%= flash[:error] %>
   </div>
   <%end%>

  <%= yield %>

</body>
</html>
